body
  block navbar
    include navbar.pug
  block content
    block stats
      include ../stats.pug
    block cards
    block modals
      include ../modals.pug
  script(src='/socket.io/socket.io.js')