extends includes/layout.pug
block content 
  form(action='/api/newGame' method='GET')
    button(tabindex='0' class='btn btn-lg btn-danger' type='submit' data-toggle='popover' data-trigger='focus' title='Dismissible popover' data-content='This is very engaging. Right?') Pegar Cartas