body { 
    padding-top: 70px;
}
div .cardboard {
    padding-top: 250px;
}
.cardboard span {
        font-size: 10px !important;
}
.cardboard li {
        font-size: 13px !important;
}
.card-title {
        font-size: 14px !important;
}
.cardboard label {
        font-size: 60%;
}